
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
  /* background:url('/images/bg-img.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.column {
  float: left;
  width: 75%;
  padding: 0 10px;
 
}

/* Remove extra left and right margins, due to padding */
.row {
  padding: 0 20px;
  margin: 0 25px;
  margin-top: 150px;
  
 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.team-header{
  margin-top: 120px;
  margin-bottom: 120px;
} 